/* #slide-images{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-bottom: 1%;
    background-color: aqua;
} */

#lab{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-bottom: 1%;
}

#covid{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-bottom: 1%;
}

#test-tube{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-bottom: 1%;
}